.sponsors_content{
    background-color: #c6d4e7cc;
    padding: 10px;
    padding-bottom: 30px;
}
.grid_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    grid-row-gap: 3%;
    
        @media screen and (min-width: 481px) and (max-width: 860px) {
            grid-template-columns: repeat(2, 47%);
        }
        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(1, 97%);
        }
        
}