$backgroundColorHeader: white;
$backgroundColorFooter: #288348;
$backgroundColorModule: #f2f2f2;

$backgroundColorBoard: #288348;
$lightBackgroundColorBoard:#c8fcd5;
$backgroundColorBoardLink:  #f2f2f2;
$backgroundColorBoardLinkHover:  #c0bebe;
$backgroundColorBoardLinkActive: #6a6a6b ;

$colorFont: black;
$colorTitle_1: #288348;
$colorTitel_2: #a41415;

$colorLink: black;
$colorLinkHover: green;