$backgroundColorHeader: white;
$backgroundColorFooter: #4f4f50;
$backgroundColorModule: #f2f2f2;

$backgroundColorBoard: #a0a0a2;
$backgroundColorBoardLink:  #f2f2f2;
$backgroundColorBoardLinkHover:  #c0bebe;
$backgroundColorBoardLinkActive: #6a6a6b ;

$colorFont: black;
$colorGreen: #288348;
$colorRed: #a41415;

$colorLink: black;
$colorLinkHover: green;