<div class="program-container">
  <h1 class="heading__primary">Программа</h1>
  <p class="program__annotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Beatae, consectetur cupiditate dignissimos expedita illo, ipsam, iste itaque laudantium numquam odit placeat quia quo rem sequi unde. Ab aliquam amet cumque dolorem eligendi iusto labore mollitia similique suscipit! Debitis, exercitationem, perspiciatis!</p>
  <p class="program__annotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Beatae, consectetur cupiditate dignissimos expedita illo, ipsam, iste itaque laudantium numquam odit placeat quia quo rem sequi unde. Ab aliquam amet cumque dolorem eligendi iusto labore mollitia similique suscipit! Debitis, exercitationem, perspiciatis!</p>
  <p class="program__annotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Beatae, consectetur cupiditate dignissimos expedita illo, ipsam, iste itaque laudantium numquam odit placeat quia quo rem sequi unde. Ab aliquam amet cumque dolorem eligendi iusto labore mollitia similique suscipit! Debitis, exercitationem, perspiciatis!</p>
  <p class="program__annotation">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Beatae, consectetur cupiditate dignissimos expedita illo, ipsam, iste itaque laudantium numquam odit placeat quia quo rem sequi unde. Ab aliquam amet cumque dolorem eligendi iusto labore mollitia similique suscipit! Debitis, exercitationem, perspiciatis!</p>
</div>
<div class="table-container mat-elevation-z8">
  <mat-table [dataSource]="table.performances" *ngFor="let table of newData; let i = index;">
    <ng-container [matColumnDef]="themeAndRoom.theme" *ngFor="let themeAndRoom of table.themesAndRooms ">
      <mat-header-cell class="headers__group"  *matHeaderCellDef>
        <h3 class="heading__theme">{{themeAndRoom.theme}}</h3>
        <h4 class="heading__room">Зал {{themeAndRoom.room}}</h4>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-card class="cell__item">
          <mat-card-header>
            <img mat-card-avatar src="assets/photo.jpg" alt="Avatar" class="cell__item--avatar">
            <mat-card-title>{{element[themeAndRoom.theme].name}}</mat-card-title>
            <mat-card-subtitle>{{element[themeAndRoom.theme].organization}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{element[themeAndRoom.theme].topic}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button color="primary" mat-button>Action</button>
          </mat-card-actions>
        </mat-card>
      </mat-cell>
    </ng-container>

    <ng-container class="header__main" [matColumnDef]="table.date" >
      <mat-header-cell class="header__main" *matHeaderCellDef
          [attr.colspan]="2">{{table.date}}
      </mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="[table.date]; sticky: true;"></mat-header-row>

    <mat-header-row *matHeaderRowDef="extractTopics(table); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: extractTopics(table);"></mat-row>

  </mat-table>
</div>
