cdk-virtual-scroll-viewport {
  height: 35rem;
  padding-top: 0.1rem;
}

:host{
  flex: 1 0 auto;
}

mat-spinner {
  margin: 30vh auto;
  stroke: #288348 !important;
}

mat-card-header {
  mat-card-title {
    font-weight: 400;
    font-size: 0.9rem;
  }
}

mat-card-content {
  font-size: 1.1rem;
}

.program-container {
  padding: 2.5rem 5rem;

   .heading__primary {
     font-size: 3.1rem;
     padding-bottom: 1.9rem;
     font-weight: 400;
   }

  .program__annotation {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

mat-table mat-header-row {
  margin: 0 auto;
  position: sticky;
  overflow: auto;
}

mat-header-row, mat-header-cell {
  background-color: #288348;
}

mat-table mat-row {
  margin: 0 auto;
}

.cell__item {

  &--clickable {
    cursor: pointer;
  }

  &--avatar {
    display: block;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    background-size: cover;
  }
 }



.mat-card {
  border-radius: 0;
  width: 100%;
  max-height: 13rem;
  padding-left: 0.9rem;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;

  &-header {
    padding-bottom: 1.3rem;
  }

  &-content {
    line-height: 1.3rem;
  }
}

.mat-cell:first-of-type {
  padding-left: 0;
}

.mat-header-cell {
  color: white;
  font-size: 1rem;
}

.headers__group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h4 {
    background-color: #7689f0;
    border-radius: 0.6rem;
    width: 5.6rem;
    height: 1.5rem;
    text-align: center;
  }
}

.header__main {
  font-size: 1.9rem;
  position: sticky;
  top: 0;
}

.headers__group {
  position: sticky;
  top: 0;
}

.mat-header-cell, .mat-cell {
  max-width: 15rem;
  box-sizing: border-box;
}

.mat-header-row, .mat-row {
  max-width: 95vw;
}

mat-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0;
}
