:host{
  flex: 1 0 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: 400;
}

.mat-card {
  width: 500px;
  height: 320px;
  margin: 100px auto;
  padding: 0;
}

.mat-toolbar {
  height: 50px;
}

.login-form {
  padding: 20px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mat-form-field {
  padding: 10px 0;
}

.btn-form {
  width: 100px;
}


