<mat-card class="form-container">
  <mat-toolbar color="primary" class="mat-toolbar">
    <span>Войти</span>
  </mat-toolbar>
  <form class="login-form" [formGroup]="form" (ngSubmit)="submit($event)">
    <mat-form-field class="form-control">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login">
      <mat-error *ngIf="form.get('login').touched && form.get('login').invalid">
        <small>Это поле обязательно дя заполнения. Введите не менее 6 символов</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-control">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
        <small>Это поле обязательно дя заполнения. Введите не менее 8 символов</small>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="error"><small>{{error}}</small></mat-error>

    <button [disabled]="loading" mat-raised-button color="primary" class="btn-form">Войти</button>
  </form>
</mat-card>
