@import "../../../../core/styles/variables.scss";

:host{
    flex: 1 0 auto;
    height: 71vh;
    overflow: scroll;
    background-color: $backgroundColorModule;
}
.documents_viewport{
    padding: 20px;
}
.documents_list-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.title {
    mat-icon{
        float: left;
        margin-right: 5px;
        color: $colorTitle_1;
    }
    h3{
        color: $colorTitle_1;
    }
}
.list_item {
    list-style: none;
    margin: 10px;
    a {
        display: block;
        position: relative;
        padding: 10px;
        padding-left: 25px;
        text-align: center;
        text-decoration: none;

        &:hover{
            border:none;
            text-decoration: underline;
            text-decoration-color: $colorTitle_1;

            .tag_icon{
                color:  $colorTitle_1;
            }
        }
    }

    p {
        margin: 0;
        color: black;
    }

    .tag_icon{
        position: absolute;
        top: 7px;
        left: 5px;
        font-size: 24px;
        color: #62a379;
    }
}
