.participans_board{
    height: 30px;
    background-color: #4a96d7;
    padding: 0 30px;
}
.participans_nav {
    float: left;
    height: 100%;
    cursor: pointer;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
}

.nav_link{
    box-sizing: border-box;
    color: white;
    padding: 5px 15px;
    transition: background-color .3s;
    height: 30px;
    overflow: hidden;
    
    &:hover{
        background-color: #96bcf0cc;
    }

    &:active {
        background-color: #3079b8;
    }
}
.active{
    background-color:  #c6d4e7cc;
}
mat-grid-tile {
    background: lightblue;
 }
