@import "../../core/styles/variables.scss";
:host{
    flex: 1 0 auto;
    background-color: $backgroundColorModule;
}
.participants_board{
    height: 30px;
    background-color: $backgroundColorBoard;
    padding: 0 30px;
}
.participants_nav {
    float: left;
    height: 100%;
    cursor: pointer;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
    border-radius: 0.5rem
}

.nav_link{
    box-sizing: border-box;
    color: $colorLink;
    padding: 5px 15px;
    transition: background-color .3s;
    height: 30px;
    overflow: hidden;
    
    &:hover{
        background-color: $backgroundColorBoardLinkHover;
    }

    &:active {
        background-color: $backgroundColorBoardLinkActive;
    }
}
.active{
    background-color:  $backgroundColorBoardLink;
}
.participans_content{
    padding: 10px;
    padding-bottom: 30px;
}
.grid_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;    
    
}
.participant_element{
    display: inline-block;
    list-style: none;
    width: calc( 100% / 4 - 10.3333333333px );
    margin: 5px;

    &:hover{
        border: none;
        box-shadow: 10px 10px 15px -10px grey;
    }

    @media screen and (min-width: 481px) and (max-width: 860px) {
        width: calc( 100% / 2 - 10.3333333333px );
    }
    @media screen and (max-width: 480px) {
        width: 98%;
    }
}
.participant_link{
    text-decoration: none;
}

.participants_container {
    height: 71vh;
    overflow: scroll;
    padding: 10px;
  }
