<header class='header'>
  <div class='container'>
    <div class='header_body' *ngIf="isAuthenticated || !isAuthEnabled">
      <div class='header_logo'>
        <a routerLink='/'>
          <img width = '80px' height="80px" src='https://sun9-24.userapi.com/impf/ueXFf2rtCjlj9Ui6-4IixfSeKOXNiItRwp-45A/A0buQDGQSKE.jpg?size=1200x1200&quality=96&proxy=1&sign=81281a61afc6c9d58f70fba301f19b04&type=album'>
        </a>
      </div>
      <div class='header_burger' (click)="onBurgerClick()" [class.activeBur]="visibility">
        <span></span>
      </div>
      <nav class='header_menu' [class.activeBur]="visibility">
        <ul class='header_list'>
          <li *ngFor="let item of menuItems" class='list_item' routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" (click)="onClick()">
            <a routerLink={{item.Path}} class='header_link'>{{item.Name}}</a>
          </li>
          <li *ngIf="exitItem" class='list_item'>
            <a routerLink="" class='list_link' (click)="logout($event)">{{exitItem.Name}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>