@import "../../styles/variables.scss";

:host {
    display: block;
    height: 80px;
    text-align: center;
    background-color: $backgroundColorHeader;
    width: 100%;
}

.header_container{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    width: 100%;
    min-width: 320px;
};

.header_logo{
    float: left;
}

.header_nav {
    float: right;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
}

.nav_link{
    display: block;
    box-sizing: border-box;
    color: $colorLink;
    text-decoration: none;
    padding: 29px 15px;
    position: relative;
    transition: background-color .3s;
    outline: 0;
    height: 80px;
    overflow: hidden;
    
    &:hover{
        color: $colorLinkHover;
        
    }
    .active{
        color: $colorLinkHover;
        text-decoration: underline;
    }
}