<div class = 'container'>
    <div class = 'footer_items'>
        <div class = 'footer_column footer_social'>
            <ul class ='social_list'>
                <li class = 'social_item'><a href = #>ВК</a></li>
                <li class = 'social_item'><a href = #>ФБ</a></li>
                <li class = 'social_item'><a href = #>ЮТ</a></li>
            </ul>
        </div>
        <div class = 'footer_column footer_policy'></div>
        <div class = 'footer_column footer_tel'></div>
    </div>
</div>
