@import "../../core/styles/variables.scss";
:host{
    position: relative;
    flex: 1 0 auto;
    padding: 10px;
    background-color: $backgroundColorModule;

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }    
}


.cards-wrapper{
        float: left;
        flex: 0 0 58.333333%;
        max-width: 50%;

        .interesting-card{
            margin-bottom: 10px;
        }
        header{
            img{
                width: 100%;
            }
        }
}
   
.map {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    float: right;    
    width: 49%;
    height: 96vh;
}
    
@media screen and (max-width: 700px) {

    .cards-wrapper {
            float: none;
            max-width: 100%;
    }
    .map {
            position: initial;
            width: 100%;
            height: 85vh;
    }
}
