:host{
    flex: 1 0 auto;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-around;
    grid-row-gap: 1%;
    
        @media screen and (max-width: 700px) {
            grid-template-columns: repeat(1, 98%);
        }
}