
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

@import '~@angular/cdk/overlay-prebuilt.css';

.my-masonry-image-list {
    @include image-list.masonry-columns(3);
  }

:host{
    // display: grid;
    // grid-template-columns: repeat(3, 32%);
    // align-items: center;
    // justify-content: space-around;
    margin: 10px;

    // flex: 1 0 auto;
}
.gallery_board{
    height: 30px;
    background-color: #4a96d7;
    margin-bottom: 10px;
}
.gallery_nav {
    float: left;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
}

.nav_link{
    display: block;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    transition: background-color .3s;
    outline: 0;
    height: 30px;
    overflow: hidden;
    
    &:hover{
        background-color: #c6d4e7cc;
        
    }
}
