
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

@import '~@angular/cdk/overlay-prebuilt.css';

.my-image-list {
    @include image-list.standard-columns(3);
    @include image-list.aspect(3/2)
}

:host{
    // display: grid;
    // grid-template-columns: repeat(3, 32%);
    // align-items: center;
    // justify-content: space-around;
    // margin: 10px;

    // flex: 1 0 auto;
}
.gallery_viewport {
    height: 100vh;
    overflow: scroll;
    margin: 0 10px;
}
.gallery_board{
    height: 30px;
    background-color: #4a96d7;
    padding: 0 30px;
    // margin-bottom: 10px;
}
.gallery_nav {
    float: left;
    height: 100%;
    cursor: pointer;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
}

.nav_link{
    box-sizing: border-box;
    color: white;
    padding: 5px 15px;
    transition: background-color .3s;
    height: 30px;
    overflow: hidden;
    
    &:hover{
        background-color: #c6d4e7cc;
        
    }
}
