.wrapper{
    overflow: hidden;
}

app-header{
    display: block;
    height: 80px;
    text-align: center;
    position: fixed;
    background-color: rgb(206, 178, 202);

    width: 100%;
}

app-body{
    display: block;
    height: 300px;
}

app-footer{
    display: block;
    background-color: #212121;
    color: #fff;
    padding: 22px 0 18px;
    position: relative;
}
// h1{
//     text-align: center;
// }