
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

app-header{
    display: block;
    height: 80px;
    text-align: center;
    // position: fixed;
    background-color: #3f51b5;

    width: 100%;
}

app-main-page{
    display: block;
    min-height: 300px;
}

app-footer{
    display: block;
    background-color: #3f51b5;
    color: #fff;
    padding: 22px 0 18px;
    position: relative;
    position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}