@import "../../core/styles/variables.scss";

:host{
    background-color: $backgroundColorModule;
    flex: 1 0 auto;
}

.documents_board{
    height: 30px;
    background-color: $backgroundColorBoard;
    padding: 0 30px;
}
.documents_nav {
    float: left;
    height: 100%;
    cursor: pointer;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 70px;
    position: relative;
}
.nav_item{
    float: left;
    overflow: hidden;
    border-radius: 0.5rem;
}

.nav_link{
    box-sizing: border-box;
    color: $colorLink;
    padding: 5px 15px;
    transition: background-color .3s;
    height: 30px;
    overflow: hidden;
    
    &:hover{
        background-color: $backgroundColorBoardLinkHover;
    }

    &:active {
        background-color: $backgroundColorBoardLinkActive;
    }
}
.active{
    background-color:  $backgroundColorBoardLink;
}

.documents_list-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.list_item{
    list-style: none;
    a {
        display: block;
        position: relative;
        border: 1px solid #ac9e9e;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        padding-left: 50px;
        text-align: center;
        text-decoration: none;

        &:hover{
            border: none;
            box-shadow: 10px 10px 15px -10px grey;
        }
    }

    p {
        margin: 0;
        color: black;
    }
}

.tag_icon{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 50px;
    color: burlywood;
}