:host{
    flex: 1 0 auto;
}
.container{
    padding: 20px;
}
.sponsor-details_header {
    .logo_img{
        float: left;
        width: 200px;
        height: 100px;
        margin-right: 15px;
    }
    .sponsor-details_type{
        margin: 0;
        color:rgba(0, 0, 0, 0.54);
    }
    .sponsor-details_title{
        margin: 5px;
    }
}
.sponsor-details_description{
    margin-top: 10px;
}