<div class='container'>
  <div class='sponsor-details_header'>
    <img class='logo_img' src={{this.sponsor?.logoUrl}}>
    <p class='sponsor-details_type'>{{this.sponsor?.sponsorTypeTag}}</p>
    <h1 class='sponsor-details_title'>{{this.sponsor?.title}} </h1>
    <a href={{this.sponsor?.webSite}}>
      <mat-icon aria-hidden="false" aria-label="Example home icon">public</mat-icon>
      <span>Веб-сайт</span>
    </a>
  </div>
  <p class='sponsor-details_description'>{{this.sponsor?.text}}</p>
</div>