.example-card {
  min-height: 120px;
}
  
.mat-card-avatar.example-header-image {
    height: 60px;
    width: 60px;
    background-size: cover;
}
 
mat-card-subtitle{
    margin-bottom: 3px;
    p.organization{
      font-weight: bold;
      margin: 0 0 3px;
    }
}
mat-card-actions a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  
  &:hover{
      color: cornflowerblue;
      text-decoration: underline;
  }
}