.participant_card {
  min-height: 120px;
}
  
.mat-card-avatar.example-header-image {
    height: 60px;
    width: 60px;
    background-size: cover;
}
 
mat-card-subtitle{
    margin-bottom: 3px;
    p.organization{
      font-weight: bold;
      margin: 0 0 3px;
    }
}
mat-card-content {
  color: rgba(0, 0, 0, 0.54);
}