<div class="container">
  <h2 class="heading__secondary">Новый комментарий</h2>
  <form class="form__group" [formGroup]="form" (submit)="submitForm($event)">
    <mat-form-field class="form-full-width" *ngIf="!username">
      <mat-label>Ваше имя</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form?.get('name').touched && form?.get('name').invalid">
        <small>Это поле обязательно дя заполнения</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <mat-label>Ваш комментарий</mat-label>
      <textarea matInput formControlName="text"></textarea>
      <mat-error *ngIf="form?.get('text').touched && form?.get('text').invalid">
        <small>Это поле обязательно дя заполнения.</small>
      </mat-error>
    </mat-form-field>

      <mat-label>Ваша оценка</mat-label>
      <mat-slider
        thumbLabel
        formControlName="number"
        tickInterval="1"
        min="0"
        max="5">
      </mat-slider>

    <div class="button__container">
      <button [disabled]="loading" mat-raised-button  type="submit">Отправить</button>
      <mat-error *ngIf="error"><small>{{error}}</small></mat-error>
    </div>
  </form>
</div>

